@keyframes roll-one {
    0% {
            transform: rotate(0deg) scale(0.7);
        }
    
        25% {
            transform: rotate(90deg) scale(0.4);
        }
    
        50% {
            transform: rotate(180deg) scale(0.7);
        }
    
        75% {
            transform: rotate(270deg) scale(0.4);
        }
    
        100% {
            transform: rotate(360deg) scale(1);
    }
} 

@keyframes roll-Two {
    0% {
        transform: rotate(0deg) scale(0.4);
    }

    25% {
        transform: rotate(90deg) scale(0.7);
    }

    50% {
        transform: rotate(180deg) scale(0.4);
    }

    75% {
        transform: rotate(270deg) scale(0.7);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    25% {
        transform: rotate(90deg) scale(0.7);
         opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        transform: translateY(-200px);
        opacity: 1;
    }
}

 .dice-rolling-One {
    animation: roll-one 0.8s ease-out ;
}

 .dice-rolling-Two {
     animation: roll-Two 1.2s ease-out ;
 }

 .animate-floatUp {
     animation: floatUp 0.5s ease-out forwards;
 }