    // .drop_container {
    //     background-color: #000000;
    //     height: 0;
    //     overflow: hidden;
    //     position: fixed;
    //     top: 100px;
    //     width: 100%;
    //     z-index: 1000;

    //     &_open {
    //         border-top: 3px solid #f7a470;
    //     }
    // }